<h2><%= @product.title %></h2>

<p><%= @product.description %></p>

<p>By <%= @product.user&.full_name || "[deleted]" %></p>

<p><strong>Created At:</strong> <%= time_ago_in_words(@product.created_at) %> ago</p>
<p><strong>Update At:</strong> <%= time_ago_in_words(@product.updated_at) %> ago</p>

<% if can?(:manage, @product) %>

  <%= link_to 'Edit', edit_product_path(@product) %>

  <%=
    link_to(
      'Delete',
      product_path(@product),
      method: :delete,
      data: {confirm: 'Are you sure?'}
    )
  %>
<% end %>

<% if @user_favourite %>
  <%= link_to "Un-Favourite", favourite_path(@user_favourite), method: :delete %>
<% else %>
  <%= link_to "Favourite", product_favourites_path(@product), method: :post %>
<% end %>

<h2>Reviews</h2>


<%= form_for [@product, @review] do |f| %>
  <% if @review.errors.present? %>
    <p>
      <%= @review.errors.full_messages.join(', ') %>
    </p>
  <% end %>

  <div>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.text_field :rating %>
  </div>

  <%= f.submit %>
<% end %>

<div class="review-list">
    <% @reviews.each do |review| %>
      <div class="review-list-item">
        <p>Review: <%= review.body %></p>
        <p>Rating: <%= review.rating %></p>
        <p>By <%= @product.user&.full_name || "[deleted]" %></p>
        <p>
          <strong>Created At:</strong>
          <%= time_ago_in_words(review.created_at) %> ago
        </p>
        <% if can?(:manage, @product) %>

          <%= link_to(
            'Delete',
            product_review_path(@product, review),
            data: {confirm: 'Are you sure?'},
            method: :delete
          ) %>
        <% end %>

      </div>
    <% end %>
    <% if @user_like %>
      <%=link_to "Un-like", like_path(@user_like),method: :delete %>
    <% else %>
      
    <% end %>
    <%= pluralize(@review.likes.count, 'like') %>

</div>








<%# %>
